.point{ display: flex;
    border: 1px solid;
    border-radius: 10px;
    height:80px;
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;
}

.point1{
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    height: 80px;
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;  
}

    .one{
    display: flex;
}
    .point2{
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    height: 80px;
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;  
    
}
    .point4{
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    height: 80px;
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;  
    
}
   .point5{
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    height: 80px;
    width: 200px;
    margin-top: 20px;
    margin-left: 10px; 
}

    .Time{
        width: 70px;
    height: 50px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;}

    .time2{
        width: 70px;
    height: 50px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;}

    .time3{width: 70px;
    height: 50px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    }

    .time4{
        width: 70px;
    height: 50px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    }

    .time5{
        width: 70px;
    height: 50px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    }